@media (max-width: 1285px) {

  #navbar .nav-left {
    padding-left: 45px;
  }

  #navbar .nav-right {
    padding-right: 0px;
  }

  body #home {
    height: 650px;
  }

  #home .text-content {
    padding-top: 140px;
    padding-left: 50px;
  }

  #home .text-content h1 {
    font-size: 40px;
  }

  #home .text-content p {
    font-size: 15px;
    width: 400px;
  }

  #home .image-content img {
    height: 650px;
    width: 600px;
  }

  #home .btn {
    padding: 22px 33px;

  }

  #home .home-btn {
    padding: 22px 33px;
  }



  body #EnergyType {
    padding: 15px 48px;
  }

  #EnergyType .box-container {
    gap: 5px;
  }

  #EnergyType .EnergyTypeCards {
    height: 400px;
  }

  #EnergyType .box-btn {
    padding: 12px 20px;
    font-size: 15px;
  }

  #EnergyType .EnergyTypeCards h2 {
    margin-top: 230px;
  }


  #blog .blog-box1-h1 {
    font-size: 27px;
    margin-top: 256px;
  }

  #blog .blog-box2-h1 {
    font-size: 27px;
    margin-top: 256px;
  }

  #blog .blog-box3-h1 {
    font-size: 23px;
    margin-top: 245px;
  }

  #blog .blog-box4-h1 {
    font-size: 27px;
    margin-top: 289px;
  }

  #blog .blog-box5-h1 {
    font-size: 23px;
    margin-top: 246px;
  }

  #blog .blog-box6-h1 {
    font-size: 20px;
    margin-top: 262px;
  }

  #blog .blog-content {
    padding: 0px 15px;
  }

  #blog .para-6 {
    font-size: 14px;
  }


  #blog .blog-box6 {
    width: 27%;
  }

  #blog .blog-box2 {
    width: 40%;
  }

  #blog .blog-btn {
    padding: 17px 14px;
  }

}


@media (max-width: 980px) {

  #navbar .nav-left {
    padding-left: 35px;
  }

  body #home {
    height: 580px;
  }

  #home .text-content {
    padding-top: 140px;
    padding-left: 40px;
  }

  #home .text-content h1 {
    font-size: 37px;
  }

  #home .text-content p {
    font-size: 14px;
    width: 350px;
  }

  #home .image-content img {
    height: 580px;
    width: 540px;
  }

  #home .btn {
    padding: 19px 29px;

  }

  #home .home-btn {
    padding: 19px 29px;
  }





  #EnergyType .box-container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  #EnergyType .EnergyTypeCards {
    width: 100%;
  }

  #EnergyType .EnergyTypeCards h2 {
    margin-top: 280px;
  }



  body #services {
    padding: 0px 20px;
  }

  #services .services-box {
    padding: 15px;
  }

  #blog .all-blogs {
    flex-direction: column;
  }

  #blog .blog-box1,
  #blog .blog-box2,
  #blog .blog-box3,
  #blog .blog-box4,
  #blog .blog-box5,
  #blog .blog-box6,
  #blog .blog-box7 {
    width: 97%;
  }

  #blog .blog-box1-h1,
  #blog .blog-box2-h1,
  #blog .blog-box3-h1,
  #blog .blog-box4-h1,
  #blog .blog-box5-h1,
  #blog .blog-box6-h1,
  #blog .blog-box7-h1 {
    margin-top: 300px;
    font-size: 32px;
  }

  body #clients {
    margin-top: 10px;
    padding-top: 3px;
  }
}

@media (max-width: 860px) {

  #navbar .nav-left {
    padding-left: 25px;
  }

  body #home {
    height: 540px;
  }

  #home .text-content {
    padding-top: 140px;
    padding-left: 28px;
  }

  #home .text-content h1 {
    font-size: 32px;
  }

  #home .text-content p {
    font-size: 13px;
    width: 350px;
  }

  #home .image-content img {
    height: 540px;
    width: 500px;
  }

  #home .btn {
    padding: 15px 25px;

  }

  #home .home-btn {
    padding: 15px 25px;
  }

  #EnergyType .EnergyTypeCards {
    width: 100%;
  }

  #EnergyType .EnergyTypeCards h2 {
    margin-top: 270px;
  }

  #services .services-box {
    padding: 5px;
  }

  #services .services-content {
    gap: 5px;
  }

  #services .services-txt-cont {
    gap: 4px;
  }


  #contact .contact-h1 {
    font-size: 30px;
    width: 500px;
  }

  #contact .contact-btn {
    padding: 20px 45px;
  }

  #contact .contact-btn {
    padding: 20px 20px;
  }

  #clients .clients-para {
    padding: 0px 10px;
  }

  body #footer {
    height: 100px;
  }

  #footer .footer-img {
    padding: 15px;
  }

  #footer .footer-img img {
    width: 90%;
    height: 80%;
  }

}

@media (max-width: 760px) {

  #navbar .nav-left {
    padding-left: 17px;
  }

  #navbar .ul-lines li {
    margin: 0px 12px;
  }

  body #home {
    height: 480px;
  }

  #home .text-content {
    padding-top: 140px;
    padding-left: 20px;
  }

  #home .text-content h1 {
    font-size: 32px;
  }

  #home .text-content p {
    font-size: 16px;
    width: 350px;
  }

  #home .image-content img {
    height: 480px;
    width: 350px;
  }

  #home .btn {
    padding: 12px 22px;

  }

  #home .home-btn {
    padding: 12px 22px;
  }




}

@media (max-width: 736px) {

  #navbar {
    width: 100%;
    max-width: 787px;
  }

  #navbar .nav-left {
    padding-left: 15px;
  }

  #navbar .ul-lines li {
    margin: 0px 12px;
  }

  body #home {
    height: 530px;
    width: 100%;
    max-width: 787px;
    margin: 0 auto;
    padding: 0;

  }

  #home .text-content {
    padding-top: 140px;
    padding-left: 17px;
  }

  #home .text-content h1 {
    font-size: 28px;
  }

  #home .text-content p {
    font-size: 15px;
    width: 300px;
  }

  #home .image-content img {
    height: 530px;
    width: 350px;
  }

  #home .btn {
    padding: 10px 18px;
    font-size: 18px;

  }

  #home .home-btn {
    padding: 10px 18px;
  }


  body #EnergyType {
    width: 100%;
    max-width: 739px;
    padding: 8px 1px;
  }

  #EnergyType .EnergyType-h2 {
    padding: 0px 20px;
  }

  #EnergyType .EnergyTypeCards {
    width: 86%;
  }

  body #services,
  body #blog,
  body #clients,
  #contact,
  #footer {
    width: 100%;
    max-width: 739px;
  }

  #contact .contact-h1 {
    font-size: 25px;
    width: 450px;
  }

  #contact .contact-btn {
    padding: 20px 20px;
  }

  #EnergyType .box-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #EnergyType .EnergyTypeCards h2 {
    margin-top: 270px;
  }

  body #services {
    width: 100%;
    max-width: 700px;
    padding: 0px 17px;
  }

  #services .services-txt-cont {
    padding: 0px 10px;
  }

  #services .services-img-cont {
    width: 30%;

  }

  #services .services-heading {
    padding-right: 50px;
  }

  #services .services-h1 {
    font-size: 20px;
  }

  #services .services-para {
    font-size: 17px;
  }

  #services .servise-btn {
    font-size: 24px;
  }

  #services .services-img-cont img {
    height: 200px;
    width: 200px;
  }

  #blog .blog-box1-h1,
  #blog .blog-box2-h1,
  #blog .blog-box3-h1,
  #blog .blog-box4-h1,
  #blog .blog-box5-h1,
  #blog .blog-box6-h1,
  #blog .blog-box7-h1 {
    margin-top: 290px;
    font-size: 30px;
  }

}

@media (max-width: 660px) {
  #navbar .nav-left {
    padding-left: 10px;
  }

  #navbar .ul-lines li {
    margin: 0px 7px;
  }


  body #home {
    height: 470px;
  }

  #home .text-content {
    padding-top: 120px;
    padding-left: 12px;
  }

  #home .text-content h1 {
    font-size: 23px;
  }

  #home .text-content p {
    font-size: 13px;
    width: 250px;
  }

  #home .image-content img {
    height: 470px;
    width: 300px;
  }

  #home .btn {
    padding: 9px 16px;
    font-size: 17px;

  }

  #home .home-btn {
    padding: 9px 16px;
  }

  #blog .blog-box1-h1,
  #blog .blog-box2-h1,
  #blog .blog-box3-h1,
  #blog .blog-box4-h1,
  #blog .blog-box5-h1,
  #blog .blog-box6-h1,
  #blog .blog-box7-h1 {
    margin-top: 290px;
    font-size: 32px;
  }

  #blog .common-box {
    height: 500px;
  }

  #blog .blog-para {
    font-size: 16px;
  }


  #clients .clients-h1 {
    font-size: 30px;
  }

  #clients .clients-para {
    font-size: 15px;
    padding: 0px 10px;
  }

  #contact .contact-h1 {
    font-size: 20px;
    width: 300px;
  }

  #contact .contact-btn {
    padding: 18px 20px;
  }

}

@media (max-width: 560px) {
  #navbar .nav-left {
    padding-left: 9px;
  }

  #navbar .ul-lines li {
    margin: 0px 6px;
  }

  #navbar .ul-lines li a {
    font-size: 16px;

  }


  body #home {
    height: 380px;
  }

  #home .text-content {
    padding-top: 90px;
    padding-left: 10px;
    width: 50%;
  }

  #home .text-content h1 {
    font-size: 23px;
  }

  #home .text-content p {
    font-size: 13px;
    width: 250px;
  }

  #home .image-content {
    width: 39%;
  }

  #home .image-content img {
    height: 380px;
    width: 230px;
  }

  #home .btn {
    padding: 8px 15px;
    font-size: 15px;

  }

  #home .home-btn {
    padding: 7px 14px;
  }

  #EnergyType .EnergyTypeCards {
    width: 82%;
    height: 500px;
    margin: 10px 0px;
  }

  #EnergyType .EnergyTypeCards h2 {
    margin-top: 360px;
  }

  #services .services-content {
    flex-direction: column;
  }

  #services .services-img-cont {
    justify-content: center;
  }

  #services .services-para {
    width: 330px;
  }

  #services .services-txt-cont {
    width: 100%;
  }

  body #contact {
    height: 250px;
  }

  #contact .contact-h1 {
    font-size: 18px;
    width: 270px;
  }

  #contact .contact-btn {
    padding: 14px 16px;
    font-size: 16px;
  }

}

@media (max-width: 480px) {
  #navbar .nav-left {
    padding-left: 7px;
  }

  body #navbar {
    height: 50px;
  }

  #navbar .logo img {
    width: 90px;
  }

  #navbar .ul-lines li {
    margin: 0px 4px;
  }

  #navbar .ul-lines li a {
    font-size: 12px;

  }


  body #home {
    height: 300px;
  }

  #home .text-content {
    padding-top: 60px;
    padding-left: 10px;
    width: 50%;
  }

  #home .text-content h1 {
    font-size: 19px;
  }

  #home .text-content p {
    font-size: 11px;
    width: 200px;
  }

  #home .image-content {
    width: 39%;
  }

  #home .image-content img {
    height: 300px;
    width: 160px;
  }

  #home .btn {
    padding: 8px 15px;
    font-size: 11px;

  }

  #home .home-btn {
    padding: 11px 17px;
  }

  #EnergyType .EnergyTypeCards {
    width: 80%;
    height: 450px;
    margin: 10px 0px;

  }

  #EnergyType .EnergyTypeCards h2 {
    margin-top: 300px;
  }


  #services .services-para {
    width: 280px;
  }

  #blog .blog-box1-h1,
  #blog .blog-box2-h1,
  #blog .blog-box3-h1,
  #blog .blog-box4-h1,
  #blog .blog-box5-h1,
  #blog .blog-box6-h1,
  #blog .blog-box7-h1 {
    margin-top: 290px;
    font-size: 30px;
  }

  #blog .blog-para {
    font-size: 16px;
  }

  #clients .clients-h1 {
    font-size: 26px;
  }

  #clients .clients-para {
    font-size: 14px;
    padding: 10px;
  }

  #contact .contact-h1 {
    font-size: 16px;
    width: 200px;
  }

  #contact .contact-btn {
    padding: 12px 14px;
    font-size: 14px;
    border-radius: 12px;
  }

}

@media (max-width: 375px) {
  #navbar .nav-left {
    padding-left: 7px;
  }

  body #navbar {
    height: 45px;
  }

  #navbar .logo img {
    width: 90px;
  }

  #navbar .ul-lines li {
    margin: 0px 4px;
  }

  #navbar .ul-lines li a {
    font-size: 11px;

  }


  body #home {
    height: 280px;
  }

  #home .text-content {
    padding-top: 60px;
    padding-left: 10px;
    width: 50%;
  }

  #home .text-content h1 {
    font-size: 15px;
  }

  #home .text-content p {
    font-size: 9px;
    width: 160px;
  }

  #home .image-content {
    width: 39%;
  }

  #home .image-content img {
    height: 280px;
    width: 150px;
  }

  #home .btn {
    padding: 7px 12px;
    font-size: 9px;
    border-radius: 8px;
  }

  #home .home-btn {
    padding: 9px 15px;
  }

  #EnergyType .EnergyTypeCards {
    width: 75%;
    height: 500px;
    margin: 7px 0px;
  }

  #EnergyType .EnergyTypeCards h2 {
    margin-top: 340px;
  }

  #services .services-para {
    width: 230px;
  }

  #services .services-para {
    font-size: 15px;
  }

  #blog .blog-box1-h1,
  #blog .blog-box2-h1,
  #blog .blog-box3-h1,
  #blog .blog-box4-h1,
  #blog .blog-box5-h1,
  #blog .blog-box6-h1,
  #blog .blog-box7-h1 {
    margin-top: 290px;
    font-size: 26px;
  }

  #blog .blog-btn {
    padding: 20px 21px;
    font-size: 16px;
  }


  #blog .blog-para {
    font-size: 15px;
  }

}

@media (max-width: 320px) {
  #navbar .nav-left {
    padding-left: 6px;
  }

  body #navbar {
    height: 45px;
  }

  #navbar .logo img {
    width: 90px;
  }

  #navbar .ul-lines li {
    margin: 0px 4px;
  }

  #navbar .ul-lines li a {
    font-size: 11px;

  }


  body #home {
    height: 240px;
  }

  #home .text-content {
    padding-top: 50px;
    padding-left: 8px;
    width: 50%;
  }

  #home .text-content h1 {
    font-size: 15px;
  }

  #home .text-content p {
    font-size: 9px;
    width: 160px;
  }

  #home .image-content {
    width: 39%;
  }

  #home .image-content img {
    height: 240px;
    width: 130px;
  }

  #home .btn {
    padding: 7px 11px;
    font-size: 8px;
    border-radius: 8px;
  }

  #home .home-btn {
    padding: 9px 15px;
  }
}